.idea/workspace.xml
/fasad/__pycache__/*
/menu/__pycache__/*
/support/__pycache__/*
/support/migrations/__pycache__/*
/menu/migrations/__pycache__/*
/country/migrations/__pycache__/*
/languages/migrations/__pycache__/*
/frontend/migrations/__pycache__/*
/support/migrations/__pycache__/*
/country/__pycache__/*
/languages/__pycache__/*
/frontend/__pycache__/*
/support/__pycache__/*