{% extends 'frontend/main.html' %}
{% block content %}
{% load staticfiles %}
<!--========== SWIPER SLIDER ==========-->
<div class="col-sm-12">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/kitchen/kitchen1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cupboard/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/reception/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/table/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>

{% endblock content %}